@use "../global/varibles" as v;

.admin_tweets_wrapper{
    width: 90vw;
    max-width: 700px;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow:
        2.4px 2.3px 2.2px rgba(0, 0, 0, 0.02),
        5.8px 5.5px 5.3px rgba(0, 0, 0, 0.028),
        10.9px 10.4px 10px rgba(0, 0, 0, 0.035),
        19.4px 18.5px 17.9px rgba(0, 0, 0, 0.042),
        36.3px 34.7px 33.4px rgba(0, 0, 0, 0.05),
        87px 83px 80px rgba(0, 0, 0, 0.07)
    ;
    background-color: white;

    form {
        grid-template-areas:
        "user_image user_info user_info user_info button"
        "user_image tweet_text tweet_text tweet_text tweet_text"
        "user_image tweet_image tweet_image tweet_image tweet_image"
    }

    .twitter-verification-wrapper{
        position: relative;
        color: v.$twitter-blue;
        height: 20px;
        z-index: 0 !important; 
    }

    .user_info{
        grid-area: user_info;
        a{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
        .user_info_inner{
            display: flex;
            flex-wrap: wrap;
        }
    }
    .tweet_created_at{
        margin-left: 0.2rem;
        @media screen and (max-width: 600px) {
            display: block;
        }  

    }

    .button-wrapper{
        display: flex;
        justify-content: flex-end;
        grid-area: button;
        button{
            max-height: 39px;
        }
    }
    .tweet_text{
        margin-top: 2rem;
    }
    h1{
        margin-bottom: 3rem;
        text-align: center;
        padding-top: 2rem;
    }
    a{
        display: inline-flex
    }
}

.admin-section{
    background-color: v.$grey-bg;
    padding: 5rem 0;
}

.admin-main{
    max-width: none;
}