% include("header", title="Admin Panel")

<main class="admin-main">
    <section class="admin-section">
        <div class="admin_tweets_wrapper">
        <h1>Admin panel</h1>

        % if tweets == []:
        <span class="no-tweets-message">Sorry, no tweets to show</span>
        % end 
        % for tweet in tweets:
        <div class="tweet_wrapper">
            <form class="tweet-{{tweet['tweet_id']}}" onsubmit="return false">
                <input class="tweet_id" name="tweet_id" type="hidden" value="{{tweet['tweet_id']}}">
                <input class="user_id" name="user_id" type="hidden" value="{{tweet['user_id']}}">
                    % if tweet["user_profile_picture_path"] and tweet["user_profile_picture_path"] != "0":
                    <img class="user_profile_picture" src="../images/user_profile_pictures/{{tweet['user_profile_picture_path']}}" alt="Profile picture">
                    % else:
                    <img class="user_profile_picture" src="../images/user_profile_pictures/fallback_profile_picture.png" alt="Profile picture">
                    % end
                    <div class="user_info">
                        <div class="user_info_inner">
                            <a type="button">
                            <span class="user_first_name">{{tweet["user_first_name"]}}</span>
                            % if tweet["user_last_name"]:
                            &nbsp;
                            <span class="user_last_name">{{tweet["user_last_name"]}}</span>
                            % end                        
                            <span class="twitter-verification-wrapper">
                                <svg fill="currentColor" width="20px" height="20px" viewBox="0 0 24 24" aria-label="Verified account" class="twitter-verification"><g><path d="M22.5 12.5c0-1.58-.875-2.95-2.148-3.6.154-.435.238-.905.238-1.4 0-2.21-1.71-3.998-3.818-3.998-.47 0-.92.084-1.336.25C14.818 2.415 13.51 1.5 12 1.5s-2.816.917-3.437 2.25c-.415-.165-.866-.25-1.336-.25-2.11 0-3.818 1.79-3.818 4 0 .494.083.964.237 1.4-1.272.65-2.147 2.018-2.147 3.6 0 1.495.782 2.798 1.942 3.486-.02.17-.032.34-.032.514 0 2.21 1.708 4 3.818 4 .47 0 .92-.086 1.335-.25.62 1.334 1.926 2.25 3.437 2.25 1.512 0 2.818-.916 3.437-2.25.415.163.865.248 1.336.248 2.11 0 3.818-1.79 3.818-4 0-.174-.012-.344-.033-.513 1.158-.687 1.943-1.99 1.943-3.484zm-6.616-3.334l-4.334 6.5c-.145.217-.382.334-.625.334-.143 0-.288-.04-.416-.126l-.115-.094-2.415-2.415c-.293-.293-.293-.768 0-1.06s.768-.294 1.06 0l1.77 1.767 3.825-5.74c.23-.345.696-.436 1.04-.207.346.23.44.696.21 1.04z"></path></g></svg>
                            </span>
                            </a>
                            <span class="tweet_created_at">· {{tweet["tweet_created_at_formatted"]}}</span>
                    </div>
                    <span class="user_name">@{{tweet["user_name"]}}</span>
                </div>
                <p class="tweet_text">{{tweet["tweet_text"]}}</p>
                <input class="tweet_image_path" name="tweet_image_path" type="hidden" value="{{tweet['tweet_image_path']}}">
                % if tweet["tweet_image_path"] and tweet["tweet_image_path"] != "0":
                <img class="tweet_image" src="../images/tweet_images/{{tweet['tweet_image_path']}}" alt="Tweet image">
                % end
                <div class="button-wrapper">
                    <button class="white-button delete_tweet">Delete</button>
                </div>
            </form>
        </div>
        % end 
    </div>
</section>

</main>

% include("footer")