% include("header", title="Welcome")

<main>
    % include("signup")
    % include("login")
    
    <div class="join-wrapper">
        <div>
            <h1>Happening now</h1>

            <h2>Join Twitter today.</h2>
            <a href="./signup"><button class="blue-button">Sign up with email</button></a>
            <span>By signing up, you agree to the Terms of Service and Privacy Policy, including Cookie Use.</span>
            
            <h3>Already have an accout?</h3>
            <a href="./login"><button class="white-button">Login</button></a>
        </div>
    </div>
</main>

% include("footer")