<div class="signup-form-container">
    <h1>Sign up</h1> 
    <form class="signup-form" onsubmit="return false">
        <label>User name</label>
        <input name="user_name" type="text" placeholder="User name">
        <span></span>
        <label>First name</label>
        <input name="user_first_name" type="text" placeholder="First name">
        <span></span>
        <label>Last name</label>
        <input name="user_last_name" type="text" placeholder="Last name">
        <span></span>
        <label>Email</label>
        <input name="user_email" type="text" placeholder="Email">
        <span></span>
        <label>Password</label>
        <input name="user_password" type="password" placeholder="Password">
        <span></span>
        <label>Profile picture</label>
        <input type="file" id="user_profile_picture" name="user_profile_picture">
        <span></span>
        <button onclick="createUser()">Sign up</button>
    </form>
</div>