@use "./varibles" as v;

* {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
}

main, footer{
    max-width: 1250px;
    margin: 0 auto;
}

.hidden {
    display: none !important;
}

.follow-button{
    width: 100px;
    background: black;
    padding: 0.5rem 0.3rem;
    border-radius: 9999px;
    border: none;
    width: 80px;
    color: v.$light-font-color;
    font-weight: 700;
    font-size: 0.9rem;
}
.unfollow-button, .white-button{
    width: 100px;
    background: transparent;
    border: 1px solid rgb(207, 217, 222);
    padding: 0.5rem 0.3rem;
    border-radius: 9999px;
    width: 80px;
    color: v.$dark-font-color;
    font-weight: 700;
    font-size: 0.9rem;
}
.blue-button{
    width: 100px;
    background: v.$twitter-blue;
    padding: 0.5rem 0.3rem;
    border-radius: 9999px;
    border: none;
    width: 80px;
    color: v.$light-font-color;
    font-weight: 700;
    font-size: 0.9rem;
}

.icon-disabled{
    opacity: 0.4;
    cursor: default;
}

.pointer{
    cursor: pointer;
}
button {
    @extend .pointer;
}

.like-button{
    height: 22px;
    width: 22px;
    background: none;
    border: none;
    fill: v.$grey;
    @extend .pointer;
    svg{
        pointer-events: none;
    }
}

.dislike-button{
    height: 22px;
    width: 22px;
    background: none;
    border: none;
    fill: v.$like-color;
    @extend .pointer;
    svg{
        pointer-events: none;
    }
}

.twitter-verification-wrapper{
    position: relative;
    margin-left: 0.2rem;
    width: 20px;
    height: 20px;
    z-index: -1;
    .twitter-verification{
        color: v.$twitter-blue;
        position: absolute;
    }
}

.logo{
    color: v.$twitter-blue;
    width: 35px;
    height: 35px;
}

.error_message{
    color: v.$error-text;
}

.validate_error{
    background-color: rgb(240 130 162 / 5%) !important;
}

textarea { 
    resize: none; 
}